[workspace]
resolver = "2"

members = [
  "common",
  "filegen",
  "rcp",
  "rlink",
  "rrm",
]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
codegen-units = 8 # default 16
debug = 1
lto = "thin"